//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/eray/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/eray/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/eray/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/eray/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/eray/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-green-dark.rasi"
//@theme "/home/eray/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/eray/.local/share/rofi/themes/rounded-green-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
